<h2 class="banner-title">PENDING REQUESTS</h2>
<ng-container *ngIf="!!dataSource">
  <table mat-table [dataSource]="dataSource" matSort >
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DATE</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>

    <ng-container matColumnDef="reason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REASON</th>
      <td mat-cell *matCellDef="let element">{{ element.reason }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
      <td mat-cell *matCellDef="let element">
        <div [ngClass]="element.styleStatus" class="status">
          {{ element.status }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>


