<h1>Manage date</h1>
<div fxLayout="row wrap" fxLayoutGap="1rem">
  <div fxFlex="20" fxLayout="column" fxFlex.xs="100" fxLayoutGap="2rem">
    <div class="manage-list" fxLayout="column">
      <a
        mat-button
        *ngFor="let manage of managesList$"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        [routerLink]="['/manage/detail', manage.id]"
      >
        {{ manage.keyName }}
      </a>
    </div>
    <button mat-stroked-button>
      <mat-icon>add</mat-icon>
      Add key
    </button>
  </div>

  <mat-card fxFlex="auto">
    <router-outlet></router-outlet>
  </mat-card>
</div>
