<div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span class="brand">DATA GATE</span>
    </a>
    <div fxShow="true" fxHide.lt-md="true">
      <a
        mat-button
        routerLink="/"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        >Review</a
      >
      <a mat-button routerLink="/request" [routerLinkActive]="['active']"
        >Request</a
      >
      <a mat-button routerLink="/manage" [routerLinkActive]="['active']"
        >Manage</a
      >
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      #sidenav
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink="/">Review</a>
        <a mat-button routerLink="/request">Request</a>
        <a mat-button routerLink="/manage">Manage</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content
      fxFlexFill
      fxLayout="row"
      fxFlexOffset="10"
      fxFlexOffset.xs="2"
      fxFlex.xs="100"
    >
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
