$grey-00: #f8f9fb;
$grey-10: #e9ebef;
$grey-20: #d0d5dd;

$mat-primary-color: (
  50: #eff1e1,
  100: #d7dbb3,
  200: #bcc480,
  300: #a1ac4d,
  400: #8d9a27,
  500: #798801,
  600: #718001,
  700: #667501,
  800: #5c6b01,
  900: #495800,
  A100: #e7ff8a,
  A200: #dcff57,
  A400: #d1ff24,
  A700: #ccff0a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-accent-color: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-red-color: (
  50: #ffe0e0,
  100: #ffb3b3,
  200: #ff8080,
  300: #ff4d4d,
  400: #ff2626,
  500: #ff0000,
  600: #ff0000,
  700: #ff0000,
  800: #ff0000,
  900: #ff0000,
  A100: #ffffff,
  A200: #fff2f2,
  A400: #ffbfbf,
  A700: #ffa6a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: #798801;
$accent: #000;
$warn: #ff0000;
